
<div class='commentbox' id='<%= comment[i].commentid %>'>
        
        <% for(x = 0; x <= votecomment.length; x++) { %>
            <%= votecomment[x].voteowner; %>
        <% } %> 
        
</div>