<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catsallian</title>
    <link rel='stylesheet' href='/css/login.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class='wrapper'>
            
        <div class='leftside'>

            <div class='upperhalf'>
                <span class='title'>
                    catsallian
                </span>
                <form id="myform" method='POST' action='/signupValidation' class='loginform'>
                    <input class='username-input invisible' name='username' placeholder='username' type='text'>
                    <input class='email-input' name='email' placeholder='email@address.com' type='email'>
                    <input class='password-input' name='password' placeholder='password' type='password'>
                </form>
            </div>

            <div class='lowerhalf'>
                <input type="submit" class='login-button' form="myform" value='connect'>
                <a href='#'><div class='login-options'>new user?</div></a>
            </div>
            
            
        </div>


    </div>


    <script src='/js/start-script.js'></script>
    <script src="/js/validator.min.js"></script>
</body>
</html>